/* INDEPENDENTE */

:root {
  --preto-neutro: #222;
  --branco: #ffffff;
  --cinza-escuro: #424242;
  --roxo: #5804fa;;
  --azul: #3483fa;
  --vermelho: #dc3545;
  --amarelo: #fbff00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

/* HEADER */
header{
  background-image: url(../Images/banner.jpg);
  height: 100vh;
  background-size: inherit;
  background-position: center; 
  color: var(--branco);
}

.dropdown{
  position: relative;
}

.logo{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 1.5em;
  font-weight: 500;
}

.logo span{
  color: var(--vermelho);
}

.dropdown-toggle{
  position: absolute;
  right: 20px;
  top: 20px;
}

.dropdown-menu li a{
 text-align: center;
 border-radius: px;
}

