/* INDEPENDENTE */

:root {
  --preto-neutro: #222;
  --branco: #ffffff;
  --cinza-escuro: #424242;
  --roxo: #5804fa;
  --azul: #3483fa;
  --azul-escuro: #011F78;
  --vermelho: #dc3545;
  --amarelo: #fbff00;
  --verde: #27e215;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

/* INICIO HEADER */
header{
  background-image: url(../Images/elite.png);
  height: 100vh;
  background-size: inherit;
  background-position: center; 
  color: var(--branco);
}

header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--azul);
  opacity: 0.5;
}

.dropdown{
  position: relative;
}

.dropdown-menu li a{
  text-align: center;
 }

.logo{
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

.logo span{
  color: var(--vermelho);
}

.bi-list{
  position: absolute;
  right: 15px;
  top: 15px;
}

.intro h1{
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  font-size: 2.1em;
  height: auto;
}

.intro img{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  height: auto;
}
/* FIM HEADER */

/* INICIO MAIN */
.about{
  background-image: linear-gradient(to bottom, var(--azul),var(--vermelho));
  min-height: 90vh;
  border-bottom: 15px solid var(--amarelo);
}

.about-me p{
  color: var(--branco);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.4em;
}

.container p{
  text-align: center;
}

.projects{
  background-color: var(--preto-neutro);
  padding: 10px;
  min-height: 80vh;
}

.projects h1{
  color: var(--branco);
}

.project span{
  color: var(--amarelo);
}

.cards{
  display: flex;
  flex-flow: row wrap;
  gap: 4%;
}

.card{
  width: 48%;
  margin-bottom: 10px;
}

.card p{
  text-align: center;
  font-size: .7em;
  font-weight: bold;
}

.technologies{
  background-image: url(../Images/banner.jpg);
  color: var(--branco);
  border-bottom: 15px solid var(--vermelho);
  text-align: center;
}

.technology{
  display: inline-block;
  text-align: center;
}

.technology i{
  padding: 10px;
  font-size: 2.5em;
}

.technology h1{
  padding: 10px;
}

.formation{
  margin: 15px auto;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--vermelho);
  color: var(--branco);
}

.formation a{
    text-decoration: none;
    color: var(--branco);
}

.certificates{
  background-color: var(--preto-neutro);
  min-height: 60vh;
  color: var(--branco);
  text-align: center;
}

.certificates h1{
  padding: 10px;
  text-align: left;
}

.slide{
  display: flex;
}

.about-certificate{
  margin: 15px auto;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--vermelho);
  color: var(--branco);
}

.about-certificate a{
  text-decoration: none;
  color: var(--branco);
}

.contact{
  background-color: var(--azul-escuro);
  color: var(--branco);
  min-height: 30vh;
  text-align: center;
  padding: 30px;
}

.contact h1{
  font-size: 2em;
}

.social-media{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.social-media a{
  text-decoration: none;
  color: var(--branco);
  padding-bottom: 20px;
}

.social-media i {
  font-size: 1.5em;
  margin-bottom: 10px;
}

footer{
  background-color: var(--preto-neutro);
  color: var(--branco);
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}